

.g-header {
    background-color: rgb(74, 106, 211);
    color: rgb(233, 233, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}


main {
    width: 100vw;
    background-color: rgb(0, 0, 0);
    margin: 10px 0px;
}

.title {
    color: rgb(124, 241, 89);
}